.DS_Store
*.dll
*.exe
.DS_Store
dump.rdb
example.tf
terraform.tfplan
*/terraform.tfvars
terraform.tfstate
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
*.pem
vars-pipeline*
develop*
/vendor/*
/.settings
!vendor/github.com/valyala/**/*.pem

website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/
/terraform-provider-alibabacloudstack
/.project
/.pydevproject
/terraform
/terraform
/tf-templates
/workspace/*
.vscode
/dist
alibabacloudstack/cover.out
alibabacloudstack/debug.test*
alibabacloudstack/dryrun_*/**/*.tf
