<% wrap_layout :inner do %>
<% content_for :sidebar do %>
<div class="docs-sidebar hidden-print affix-top" role="complementary">
    <ul class="nav docs-sidenav">
        <li>
            <a href="/docs/providers/index.html">All Providers</a>
        </li>
        <li>
            <a href="/docs/providers/alibabacloudstack/index.html">Alibabacloudstack Provider</a>
        </li>
        <li>
            <a href="#">ASCM</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ascm_ecs_instance_families.html">alibabacloudstack_ascm_ecs_instance_families</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ascm_environment_services_by_product.html">alibabacloudstack_ascm_environment_services_by_product</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ascm_instance_families.html">alibabacloudstack_ascm_instance_families</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ascm_ram_policies.html">alibabacloudstack_ascm_ram_policies</a>
                        </li>
                          <li>
                            <a href="/docs/providers/alibabacloudstack/d/ascm_ram_policies_for_user.html">alibabacloudstack_ascm_ram_policies_for_user</a>
                        </li>
                          <li>
                            <a href="/docs/providers/alibabacloudstack/d/ascm_roles.html">alibabacloudstack_ascm_roles</a>
                        </li>
                          <li>
                            <a href="/docs/providers/alibabacloudstack/d/ascm_logon_policies.html">alibabacloudstack_ascm_logon_policies</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/d/ascm_quotas.html">alibabacloudstack_ascm_quotas</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ascm_organizations.html">alibabacloudstack_ascm_organizations</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ascm_password_policies.html">alibabacloudstack_ascm_password_policies</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ascm_regions_by_product.html">alibabacloudstack_ascm_regions_by_product</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ascm_resource_groups.html">alibabacloudstack_ascm_resource_groups</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ascm_ram_service_roles.html">alibabacloudstack_ascm_ram_service_roles</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ascm_service_clusters_by_product.html">alibabacloudstack_ascm_service_clusters_by_product</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ascm_specific_fields.html">alibabacloudstack_ascm_specific_fields</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ascm_users.html">alibabacloudstack_ascm_users</a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ascm_user_role_binding.html">alibabacloudstack_ascm_user_role_binding</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/ascm_quota.html">alibabacloudstack_ascm_quota</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/ascm_ram_policy.html">alibabacloudstack_ascm_ram_policy</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/ascm_ram_policy_for_role.html">alibabacloudstack_ascm_ram_policy_for_role</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/ascm_ram_role.html">alibabacloudstack_ascm_ram_role</a>
                        </li>
                          <li>
                            <a href="/docs/providers/alibabacloudstack/r/ascm_custom_role.html">alibabacloudstack_ascm_custom_role</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ascm_logon_policy.html">alibabacloudstack_ascm_logon_policy</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ascm_organization.html">alibabacloudstack_ascm_organization</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ascm_resource_group.html">alibabacloudstack_ascm_resource_group</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ascm_user.html">alibabacloudstack_ascm_user</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ascm_password_policy.html">alibabacloudstack_ascm_password_policy</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">ECS</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/disks.html">alibabacloudstack_disks</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ecs_auto_snapshot_policies.html">alibabacloudstack_ecs_auto_snapshot_policies</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ecs_commands.html">alibabacloudstack_ecs_commands</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ecs_dedicated_hosts.html">alibabacloudstack_ecs_dedicated_hosts</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ecs_hpc_clusters.html">alibabacloudstack_ecs_hpc_clusters</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/images.html">alibabacloudstack_images</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/instance_type_families.html">alibabacloudstack_instance_type_families</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/instance_types.html">alibabacloudstack_instance_types</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/instances.html">alibabacloudstack_instances</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/security_groups.html">alibabacloudstack_security_groups</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/security_group_rules.html">alibabacloudstack_security_group_rules</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/key_pairs.html">alibabacloudstack_key_pairs</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/network_interfaces.html">alibabacloudstack_network_interfaces</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/snapshots.html">alibabacloudstack_snapshots</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/launch_templates.html">alibabacloudstack_launch_templates</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/disk.html">alibabacloudstack_disk</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/security_group_rule.html">alibabacloudstack_security_group_rule</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/disk_attachment.html">alibabacloudstack_disk_attachment</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ram_role_attachment.html">alibabacloudstack_ram_role_attachment</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/instance.html">alibabacloudstack_instance</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/security_group.html">alibabacloudstack_security_group</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/key_pair.html">alibabacloudstack_key_pair</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/key_pair_attachment.html">alibabacloudstack_key_pair_attachment</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/network_interface.html">alibabacloudstack_network_interface</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/network_interface_attachment.html">alibabacloudstack_network_interface_attachment</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/image.html">alibabacloudstack_image</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/image_copy.html">alibabacloudstack_image_copy</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/image_export.html">alibabacloudstack_image_export</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/image_import.html">alibabacloudstack_image_import</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/image_share_permission.html">alibabacloudstack_image_share_permission</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/snapshot.html">alibabacloudstack_snapshot</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/snapshot_policy.html">alibabacloudstack_snapshot_policy</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/launch_template.html">alibabacloudstack_launch_template</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/ecs_command.html">alibabacloudstack_ecs_command</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/ecs_dedicated_host.html">alibabacloudstack_ecs_dedicated_host</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/ecs_deployment_set.html">alibabacloudstack_ecs_deployment_set</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/ecs_hpc_cluster.html">alibabacloudstack_ecs_hpc_cluster</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/reserved_instance.html">alibabacloudstack_reserved_instance</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">EDAS</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/edas_applications.html">alibabacloudstack_edas_applications</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/edas_clusters.html">alibabacloudstack_edas_clusters</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/edas_application.html">alibabacloudstack_edas_application</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/edas_deploy_group.html">alibabacloudstack_edas_deploy_group</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/edas_instance_cluster_attachment.html">alibabacloudstack_edas_instance_cluster_attachment</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/edas_slb_attachment.html">alibabacloudstack_edas_slb_attachment</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/edas_cluster.html">alibabacloudstack_edas_cluster</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/edas_k8s_application.html">alibabacloudstack_edas_k8s_application</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/edas_k8s_cluster.html">alibabacloudstack_edas_k8s_cluster</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
         <li>
            <a href="#">ROS</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                         <li>
                            <a href="/docs/providers/alibabacloudstack/d/ros_stacks.html">alibabacloudstack_ros_stacks</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/d/ros_templates.html">alibabacloudstack_ros_templates</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ros_stack.html">alibabacloudstack_ros_stack</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ros_template.html">alibabacloudstack_ros_template</a>
                        </li>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Elastic High Performance Computing(ehpc)</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ehpc_job_templates.html">alibabacloudstack_ehpc_job_templates</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ehpc_job_template.html">alibabacloudstack_ehpc_job_template</a>
                        </li>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Table Store (OTS)</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">

                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ots_instance.html">alibabacloudstack_ots_instance</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ots_instance_attachment.html">alibabacloudstack_ots_instance_attachment</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ots_table.html">alibabacloudstack_ots_table</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">VPC</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/common_bandwidth_packages.html">alibabacloudstack_common_bandwidth_packages</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/eips.html">alibabacloudstack_eips</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/nat_gateways.html">alibabacloudstack_nat_gateways</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/route_entries.html">alibabacloudstack_route_entries</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/route_tables.html">alibabacloudstack_route_tables</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/router_interfaces.html">alibabacloudstack_router_interfaces</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/snat_entries.html">alibabacloudstack_snat_entries</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/vpcs.html">alibabacloudstack_vpcs</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/vswitches.html">alibabacloudstack_vswitches</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/forward_entries.html">alibabacloudstack_forward_entries</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/network_acls.html">alibabacloudstack_network_acls</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/vpn_connections.html">alibabacloudstack_vpn_connections</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/vpn_customer_gateways.html">alibabacloudstack_vpn_customer_gateways</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/vpn_gateways.html">alibabacloudstack_vpn_gateways</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/vpc_ipv6_addresses.html">alibabacloudstack_vpc_ipv6_addresses</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/vpc_ipv6_egress_rules.html">alibabacloudstack_vpc_ipv6_egress_rules</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/vpc_ipv6_gateways.html">alibabacloudstack_vpc_ipv6_gateways</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/vpc_ipv6_internet_bandwidths.html">alibabacloudstack_vpc_ipv6_internet_bandwidths</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/vpc.html">alibabacloudstack_vpc</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/vswitch.html">alibabacloudstack_vswitch</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/common_bandwidth_package.html">alibabacloudstack_common_bandwidth_package</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/common_bandwidth_package_attachment.html">alibabacloudstack_common_bandwidth_package_attachment</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/eip.html">alibabacloudstack_eip</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/eip_association.html">alibabacloudstack_eip_association</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/forward_entry.html">alibabacloudstack_forward_entry</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/nat_gateway.html">alibabacloudstack_nat_gateway</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/route_entry.html">alibabacloudstack_route_entry</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/route_table.html">alibabacloudstack_route_table</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/route_table_attachment.html">alibabacloudstack_route_table_attachment</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/router_interface.html">alibabacloudstack_router_interface</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/router_interface_connection.html">alibabacloudstack_router_interface_connection</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/snat.html">alibabacloudstack_snat_entry</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/network_acl.html">alibabacloudstack_network_acl</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/network_acl_attachment.html">alibabacloudstack_network_acl_attachment</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/network_acl_entries.html">alibabacloudstack_network_acl_entries</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/vpn_connection.html">alibabacloudstack_vpn_connection</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/vpn_customer_gateway.html">alibabacloudstack_vpn_customer_gateway</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/vpn_gateway.html">alibabacloudstack_vpn_gateway</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/vpn_route_entry.html">alibabacloudstack_vpn_route_entry</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/vpc_ipv6_egress_rule.html">alibabacloudstack_vpc_ipv6_egress_rule</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/vpc_ipv6_gateway.html">alibabacloudstack_vpc_ipv6_gateway</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/vpc_ipv6_internet_bandwidth.html">alibabacloudstack_vpc_ipv6_internet_bandwidth</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Server Load Balancer (SLB)</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/slb_backend_servers.html">alibabacloudstack_slb_backend_servers</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/slb_ca_certificates.html">alibabacloudstack_slb_ca_certificates</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/slb_listeners.html">alibabacloudstack_slb_listeners</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/slb_master_slave_server_groups.html">alibabacloudstack_slb_master_slave_server_groups</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/slb_rules.html">alibabacloudstack_slb_rules</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/slb_server_certificates.html">alibabacloudstack_slb_server_certificates</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/slb_server_groups.html">alibabacloudstack_slb_server_groups</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/slbs.html">alibabacloudstack_slbs</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/slb_zones.html">alibabacloudstack_slb_zones</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/slb_acls.html">alibabacloudstack_slb_acls</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/slb_domain_extensions.html">alibabacloudstack_slb_domain_extensions</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/slb.html">alibabacloudstack_slb</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/slb_acl.html">alibabacloudstack_slb_acl</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/slb_domain_extension.html">alibabacloudstack_slb_domain_extension</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/slb_backend_server.html">alibabacloudstack_slb_backend_server</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/slb_ca_certificate.html">alibabacloudstack_slb_ca_certificate</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/slb_listener.html">alibabacloudstack_slb_listener</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/slb_master_slave_server_group.html">alibabacloudstack_slb_master_slave_server_group</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/slb_rule.html">alibabacloudstack_slb_rule</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/slb_server_certificate.html">alibabacloudstack_slb_server_certificate</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/slb_server_group.html">alibabacloudstack_slb_server_group</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">RDS</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/db_instances.html">alibabacloudstack_db_instances</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/db_zones.html">alibabacloudstack_db_zones</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/db_account.html">alibabacloudstack_db_account</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/db_backup_policy.html">alibabacloudstack_db_backup_policy</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/db_account_privilege.html">alibabacloudstack_db_account_privilege</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/db_connection.html">alibabacloudstack_db_connection</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/db_database.html">alibabacloudstack_db_database</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/db_instance.html">alibabacloudstack_db_instance</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/db_read_write_splitting_connection.html">alibabacloudstack_db_read_write_splitting_connection</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/db_readonly_instance.html">alibabacloudstack_db_readonly_instance</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/ram_role_attachment.html">alibabacloudstack_ram_role_attachment</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/rds_parameter_group.html">alibabacloudstack_rds_parameter_group</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Auto Scaling (ESS)</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ess_lifecycle_hooks.html">alibabacloudstack_ess_lifecycle_hooks</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ess_notifications.html">alibabacloudstack_ess_notifications</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ess_scaling_groups.html">alibabacloudstack_ess_scaling_groups</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ess_scaling_rules.html">alibabacloudstack_ess_scaling_rules</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ess_scheduled_tasks.html">alibabacloudstack_ess_scheduled_tasks</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ess_attachment.html">alibabacloudstack_ess_attachment</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ess_alarm.html">alibabacloudstack_ess_alarm</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ess_notification.html">alibabacloudstack_ess_notification</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ess_scaling_lifecycle_hook.html">alibabacloudstack_ess_lifecycle_hook</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ess_scaling_configuration.html">alibabacloudstack_ess_scaling_configuration</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ess_scaling_group.html">alibabacloudstack_ess_scaling_group</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ess_scaling_rule.html">alibabacloudstack_ess_scaling_rule</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ess_scheduled_task.html">alibabacloudstack_ess_scheduled_task</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ess_scalinggroup_vserver_groups.html">alibabacloudstack_ess_scalinggroup_vserver_groups</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">KMS</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/kms_aliases.html">alibabacloudstack_kms_aliases</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/kms_ciphertext.html">alibabacloudstack_kms_ciphertext</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/kms_keys.html">alibabacloudstack_kms_keys</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/kms_secrets.html">alibabacloudstack_kms_secrets</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/kms_alias.html">alibabacloudstack_kms_alias</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/kms_ciphertext.html">alibabacloudstack_kms_ciphertext</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/kms_key.html">alibabacloudstack_kms_key</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/kms_secret.html">alibabacloudstack_kms_secret</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">OSS</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/oss_buckets.html">alibabacloudstack_oss_buckets</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/oss_bucket.html">alibabacloudstack_oss_bucket</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/oss_bucket_object.html">alibabacloudstack_oss_bucket_object</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
          <li>
            <a href="#">Network Attached Storage (NAS)</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/nas_access_group.html">alibabacloudstack_nas_access_group</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/nas_access_rule.html">alibabacloudstack_nas_access_rule</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/nas_file_system.html">alibabacloudstack_nas_file_system</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/nas_mount_target.html">alibabacloudstack_nas_mount_target</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Redis And Memcache (KVStore)</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/kvstore_instances.html">alibabacloudstack_kvstore_instances</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/kvstore_zones.html">alibabacloudstack_kvstore_zones</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/kvstore_connections.html">alibabacloudstack_kvstore_connections</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/kvstore_instance_classes.html">alibabacloudstack_kvstore_instance_classes</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/kvstore_instance_engines.html">alibabacloudstack_kvstore_instance_engines</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/kvstore_account.html">alibabacloudstack_kvstore_account</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/kvstore_backup_policy.html">alibabacloudstack_kvstore_backup_policy</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/kvstore_instance.html">alibabacloudstack_kvstore_instance</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/kvstore_connection.html">alibabacloudstack_kvstore_connection</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Container Service (ACK)</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/cs_kubernetes_clusters.html">alibabacloudstack_cs_kubernetes_clusters</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/cs_kubernetes.html">alibabacloudstack_cs_kubernetes</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/cs_kubernetes_node_pool.html">alibabacloudstack_cs_kubernetes_nodepool</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Container Registry (CR)</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/cr_namespaces.html">alibabacloudstack_cr_namespaces</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/cr_repos.html">alibabacloudstack_cr_repos</a>
                        </li>
                          <li>
                              <a href="/docs/providers/alibabacloudstack/d/cr_ee_instances.html">alibabacloudstack_cr_ee_instances</a>
                          </li>
                             <li>
                               <a href="/docs/providers/alibabacloudstack/d/cr_ee_namespaces.html">alibabacloudstack_cr_ee_namespaces</a>
                             </li>
                             <li>
                               <a href="/docs/providers/alibabacloudstack/d/cr_ee_repos.html">alibabacloudstack_cr_ee_repos</a>
                           </li>
                             <li>
                                  <a href="/docs/providers/alibabacloudstack/d/cr_ee_sync_rules.html">alibabacloudstack_cr_ee_sync_rules</a>
                            </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/cr_namespace.html">alibabacloudstack_cr_namespace</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/cr_repo.html">alibabacloudstack_cr_repo</a>
                        </li>
                           <li>
                                 <a href="/docs/providers/alibabacloudstack/r/cr_ee_namespace.html">alibabacloudstack_cr_ee_namespace</a>
                           </li>
                            <li>
                                 <a href="/docs/providers/alibabacloudstack/r/cr_ee_repo.html">alibabacloudstack_cr_ee_repo</a>
                            </li>
                            <li>
                               <a href="/docs/providers/alibabacloudstack/r/cr_ee_sync_rule.html">alibabacloudstack_cr_ee_sync_rule</a>
                            </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">RocketMQ</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ons_groups.html">alibabacloudstack_ons_groups</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ons_instances.html">alibabacloudstack_ons_instances</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/ons_topics.html">alibabacloudstack_ons_topics</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ons_group.html">alibabacloudstack_ons_group</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ons_instance.html">alibabacloudstack_ons_instance</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/ons_topic.html">alibabacloudstack_ons_topic</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">DNS</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/dns_records.html">alibabacloudstack_dns_records</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/dns_domains.html">alibabacloudstack_dns_domains</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/dns_groups.html">alibabacloudstack_dns_groups</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/dns_record.html">alibabacloudstack_dns_record</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/dns_domain.html">alibabacloudstack_dns_domain</a>

                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/dns_group.html">alibabacloudstack_dns_group</a>

                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/dns_record.html">alibabacloudstack_dns_record</a>

                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
                          <a href="#">AnalyticDB for PostgreSQL (GPDB)</a>
                          <ul class="nav">
                              <li>
                                <a href="#">Data Sources</a>
                                <ul class="nav nav-auto-expand">
                                  <li>
                                    <a href="/docs/providers/alibabacloudstack/d/gpdb_instances.html">alibabacloudstack_gpdb_instances</a>
                                  </li>
                                  <li>
                                    <a href="/docs/providers/alibabacloudstack/d/gpdb_accounts.html">alibabacloudstack_gpdb_accounts</a>
                                  </li>
                                  <li>
                                    <a href="/docs/providers/alibabacloudstack/d/gpdb_zones.html">alibabacloudstack_gpdb_zones</a>
                                  </li>
                                </ul>
                              </li>
                              <li>
                                <a href="#">Resources</a>
                                <ul class="nav nav-auto-expand">
                                  <li>
                                    <a href="/docs/providers/alibabacloudstack/r/gpdb_connection.html">alibabacloudstack_gpdb_connection</a>
                                  </li>
                                  <li>
                                    <a href="/docs/providers/alibabacloudstack/r/gpdb_instance.html">alibabacloudstack_gpdb_instance</a>
                                  </li>
                                   <li>
                                    <a href="/docs/providers/alibabacloudstack/r/gpdb_account.html">alibabacloudstack_gpdb_account</a>
                                  </li>
                                </ul>
                              </li>
                          </ul>
                        </li>
         <li>
            <a href="#">Log Service (SLS)</a>
            <ul class="nav">
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/log_project.html">alibabacloudstack_log_project</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/log_machine_group.html">alibabacloudstack_log_machine_group</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/log_store.html">alibabacloudstack_log_store</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/log_store_index.html">alibabacloudstack_log_store_index</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/logtail_attachment.html">alibabacloudstack_logtail_attachment</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/logtail_config.html">alibabacloudstack_logtail_config</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
          <a href="#">MaxCompute</a>
            <ul class="nav">
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/maxcompute_cu.html">alibabacloudstack_maxcompute_cu</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/maxcompute_project.html">alibabacloudstack_maxcompute_project</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/maxcompute_user.html">alibabacloudstack_maxcompute_user</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

        <li>
            <a href="#">CMS Service</a>
            <ul class="nav">
             <li>
                <a href="#">Data Sources</a>
                   <ul class="nav nav-auto-expand">
                     <li>
                       <a href="/docs/providers/alibabacloudstack/d/cms_alarm_contacts.html">alibabacloudstack_cms_alarm_contacts</a>
                     </li>
                     <li>
                      <a href="/docs/providers/alibabacloudstack/d/cms_alarms.html">alibabacloudstack_cms_alarms</a>
                     </li>
                     <li>
                      <a href="/docs/providers/alibabacloudstack/d/cms_metric_metalist.html">alibabacloudstack_cms_metric_metalist</a>
                     </li>
                     <li>
                      <a href="/docs/providers/alibabacloudstack/d/cms_project_meta.html">alibabacloudstack_cms_project_meta</a>
                     </li>
                   </ul>
             </li>
            <li>
                <a href="#">Resources</a>
                <ul class="nav nav-auto-expand">
                    <li>
                        <a href="/docs/providers/alibabacloudstack/r/cms_alarm.html">alibabacloudstack_cms_alarm</a>
                    </li>
                     <li>
                        <a href="/docs/providers/alibabacloudstack/r/cms_alarm_contact.html">alibabacloudstack_cms_alarm_contact</a>
                    </li>
                     <li>
                        <a href="/docs/providers/alibabacloudstack/r/cms_alarm_contact_group.html">alibabacloudstack_cms_alarm_contact_group</a>
                    </li>
                     <li>
                        <a href="/docs/providers/alibabacloudstack/r/cms_site_monitor.html">alibabacloudstack_cms_site_monitor</a>
                    </li>
                </ul>
            </li>
        </ul>
        </li>
        <li>
            <a href="#">DATAWORKS</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">

                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/data_works_folder.html.">alibabacloudstack_data_works_folder</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/data_works_connection.html">alibabacloudstack_data_works_connection</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/data_works_remind.html">alibabacloudstack_data_works_remind</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/data_works_project.html">alibabacloudstack_data_works_project</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/data_works_user.html">alibabacloudstack_data_works_user</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/data_works_user_role_binding.html">alibabacloudstack_data_works_user_role_binding</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">ADB for MySql</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/adb_db_clusters.html">alibabacloudstack_adb_db_clusters</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/adb_zones.html">alibabacloudstack_adb_zones</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/adb_account.html">alibabacloudstack_adb_account</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/adb_backup_policy.html">alibabacloudstack_adb_backup_policy</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/adb_connection.html">alibabacloudstack_adb_connection</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/adb_db_cluster.html">alibabacloudstack_adb_db_cluster</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">MongoDB</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/adb_db_clusters.html">alibabacloudstack_adb_db_clusters</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/adb_zones.html">alibabacloudstack_adb_zones</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/mongodb_instance.html">alibabacloudstack_mongodb_instance</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/mongodb_sharding_instance.html">alibabacloudstack_mongodb_sharding_instance</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Datahub Service</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/datahub_service.html">alibabacloudstack_datahub_service</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/datahub_project.html">alibabacloudstack_datahub_project</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/datahub_subscription.html">alibabacloudstack_datahub_subscription</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/datahub_topic.html">alibabacloudstack_datahub_topic</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
                    <a href="#">DNS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/apsarastack/d/dns_records.html">apsarastack_dns_records</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/apsarastack/d/dns_domains.html">apsarastack_dns_domains</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/apsarastack/d/dns_groups.html">apsarastack_dns_groups</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/apsarastack/r/dns_record.html">apsarastack_dns_record</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/apsarastack/r/dns_domain.html">apsarastack_dns_domain</a>

                                </li>
                                 <li>
                                    <a href="/docs/providers/apsarastack/r/dns_group.html">apsarastack_dns_group</a>

                                </li>
                                 <li>
                                    <a href="/docs/providers/apsarastack/r/dns_record.html">apsarastack_dns_record</a>

                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
<li>
            <a href="#">DBS</a>
            <ul class="nav">
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/dbs_backup_plan.html">alibabacloudstack_dbs_backup_plan</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
                    <a href="#">DMS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/apsarastack/d/dms_enterprise_instances.html">apsarastack_dms_enterprise_instances</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/apsarastack/d/dms_enterprise_users.html">apsarastack_dms_enterprise_users</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/apsarastack/r/dms_enterprise_instance.html">apsarastack_dms_enterprise_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/apsarastack/r/dms_enterprise_user.html">apsarastack_dms_enterprise_user</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
         <li>
                    <a href="#">API Gateway</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                    <a href="/docs/providers/alibabacloudstack/d/api_gateway_apis.html">alibabacloudstack_api_gateway_apis</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/alibabacloudstack/d/api_gateway_apps.html">alibabacloudstack_api_gateway_apps</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/alibabacloudstack/d/api_gateway_groups.html">alibabacloudstack_api_gateway_groups</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/alibabacloudstack/d/api_gateway_service.html">alibabacloudstack_api_gateway_service</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                 <li>
                                    <a href="/docs/providers/alibabacloudstack/r/api_gateway_api.html">alibabacloudstack_api_gateway_api</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/alibabacloudstack/r/api_gateway_app.html">alibabacloudstack_api_gateway_app</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/alibabacloudstack/r/api_gateway_app_attachment.html">alibabacloudstack_api_gateway_app_attachment</a>
                                </li>
                                 <li>
                                    <a href="/docs/providers/alibabacloudstack/r/api_gateway_group.html">alibabacloudstack_api_gateway_group</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/alibabacloudstack/r/api_gateway_vpc_access.html">alibabacloudstack_api_gateway_vpc_access</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
         <li>
                    <a href="#">DTS</a>
                    <ul class="nav">
                        <li>
                            <a href="#">Data Sources</a>
                            <ul class="nav nav-auto-expand">

                            </ul>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                            <ul class="nav nav-auto-expand">
                                <li>
                                   <a href="/docs/providers/alibabacloudstack/r/dts_synchronization_instance.html">alibabacloudstack_dts_synchronization_instance</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/alibabacloudstack/r/dts_subscription_job.html">alibabacloudstack_dts_subscription_job</a>
                                </li>
                                <li>
                                    <a href="/docs/providers/alibabacloudstack/r/dts_synchronization_job.html">alibabacloudstack_dts_synchronization_job</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
         <li>
        <li>
            <a href="#">API Gateway</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/api_gateway_apis.html">alibabacloudstack_api_gateway_apis</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/api_gateway_apps.html">alibabacloudstack_api_gateway_apps</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/api_gateway_groups.html">alibabacloudstack_api_gateway_groups</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/api_gateway_service.html">alibabacloudstack_api_gateway_service</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/api_gateway_api.html">alibabacloudstack_api_gateway_api</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/api_gateway_app.html">alibabacloudstack_api_gateway_app</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/api_gateway_app_attachment.html">alibabacloudstack_api_gateway_app_attachment</a>
                        </li>
                         <li>
                            <a href="/docs/providers/alibabacloudstack/r/api_gateway_group.html">alibabacloudstack_api_gateway_group</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/api_gateway_vpc_access.html">alibabacloudstack_api_gateway_vpc_access</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">DRDS</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/drds_instances.html">alibabacloudstack_drds_instances</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/drds_instance.html">alibabacloudstack_drds_instance</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
         <li>
            <a href="#">HBase</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/hbase_instance_types.html">alibabacloudstack_hbase_instance_types</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/hbase_instances.html">alibabacloudstack_hbase_instances</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/hbase_zones.html">alibabacloudstack_hbase_zones</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/hbase_instance.html">alibabacloudstack_hbase_instance</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">DMS</a>
            <ul class="nav">
                <li>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/dms_enterprise_instances.html">alibabacloudstack_dms_enterprise_instances</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/d/dms_enterprise_users.html">alibabacloudstack_dms_enterprise_users</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Resources</a>
                    <ul class="nav nav-auto-expand">
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/dms_enterprise_instance.html">alibabacloudstack_dms_enterprise_instance</a>
                        </li>
                        <li>
                            <a href="/docs/providers/alibabacloudstack/r/dms_enterprise_user.html">alibabacloudstack_dms_enterprise_user</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<% end %>
<%= yield %>
<% end %>